html *{
    font-family: Arial;
}
#titlebar {
    position: fixed;
    top: 0;
    width: 102%;
    background-color: lightgrey;
    margin-left: -15px;
    height: 30px;
}
#titlebar p{
    margin-left: 35px;
    font-size: 25px;
    margin-top: 0px;
}
#addPortfolioDiv{
    margin-left: 25px;
    margin-top: 50px;
}
#addPortfolioForm{
    float: left;
}
#title{
    font-size: 20px;
    float: left;
    margin-right: 40px;
    margin-top: 7.5px;
    width: 25%;
}
#portfolios{
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
}
#addPortfolioButton{
    background-color: white;
    width: 150px;
    height: 40px;
    border: 3px solid black;
    font-size: 16px;
    display: block;
}
#addPortfolioButton:hover{
    background-color: lightgrey;
    cursor: pointer;
}
.portfolioButton{
    width: 120px; 
    height: 40px;
    font-size: 18px;
    background-color: white;
    border: 2px solid black;
    margin: 5px;
}
.portfolioButton:hover{
    background-color: lightgrey;
    cursor: pointer;
}
#removePortfolioButton{
    width: 160px; 
    height: 40px;
    font-size: 18px;
    float: right;
    background-color: white;
    border: 2px solid black;
    margin-right: 10px;
}
#removePortfolioButton:hover{
    background-color: lightgrey;
    cursor: pointer;
}
#removeSelectedButton{
    width: 160px;
    height: 40px;
    font-size: 18px; 
    background-color: white;
    border: 2px solid black;
    margin: 5px;
    float: right;
}
#removeSelectedButton:hover{
    background-color: lightgrey;
    cursor: pointer;
}
.currencyButton{
    background-color: white;
    border: 2px solid black;
    width: 100px; 
    height: 40px;
    font-size: 18px;
    background-color: white;
    margin-left: 10px;
}
.currencyButton:hover{
    background-color: lightgrey;
    cursor: pointer;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    display: none;
}
td{
    border: 1px solid black;
    padding: 8px;
    background-color: white;
    text-align: center;
}
th{
    background-color: lightgrey;
    border: 1px solid black;
    width: 25%;
    height: 25%;
    padding: 8px;
    text-align: center;
    font-weight: normal;
    font-size: 17px;
}
#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#performanceDiv{
    position: fixed;
    width: 65%;
    height: 80%;
    z-index: 3;
    left:0;
    right: 0;
    margin: 0 auto;
    display: none;
    border: 1px solid white;
    background: white;
}
#graphCanvas{
    width: 65%;
    height: 35%;
}
#adjustButton{
    width: 180px; 
    line-height: 30px;
    font-size: 18px;
    background-color: white;
    border: 2px solid black;
    margin-left: 25px;
    margin-right: 25px;
}
#adjustButton:hover{
    background-color: lightgrey;
    cursor: pointer;
}
#startDate{
    margin-left: 5%;
    line-height: 30px;
    font-size: 18px;
    border: 2px solid black;
}
#endDate{
    margin-left: 1%;
    line-height: 30px;
    font-size: 18px;
    border: 2px solid black;
}
#loader { /*loading spinner*/
    position: absolute;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 40px;
    height: 40px;
    z-index: 3;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    display: none;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  #loaderOverlay{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
  #warningSpan{
    margin-left: 5%;
    line-height: 30px;
    font-size: 18px;
    margin-top: 20px;
  }
  
